.button{
    background-color: var(--green);
    color: var(--purple-header);
    height: 61px;
    width: 161px;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button-acces{
    width: 140px;
    height: 32px;
    text-align:center;
    border-bottom: solid var(--green);
    color: white;
}