.header {
  background-color: var(--purple-header);

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__icon--white {
    width: 95.76px;
    height: 24.62px;
  }
  &__image {
    height: 184px;
    width: 320px;
  }
  &__container--image {
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.top {
  width: 343px;
}
